<!DOCTYPE html>

<html>
    <head>
        <meta chsrset="utf8">
        <title>Node Test</title>
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body>
        <div class="navbar navbar-default navbar-static-top" roles="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Node Test Build</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>

                    <% if(currentUser != null) {%>
                        <li><a href="/posts">My Post</a></li>
                        <li><a href="#">Welcome <%= currentUser.username %>!</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <%}%>
                    <% if(currentUser == null) {%>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <%}%>
                </ul>
            </div>
        </div>

        <div class="container">

            <% if(error && error.length > 0 ) {%> 
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <%}%>

            <% if(info && info.length > 0 ) {%> 
                <div class="alert alert-info" role="alert">
                    <%= info %> 
                </div>
            <%}%>